/* feuille de style css*/

/***********************
****    Ohmyfood    ****
***********************/

/***********************
****     Accueil    ****
***********************/


* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
a {
    text-decoration: inherit;
    color:black;
}

header h1{
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    font-family: "Shrikhand", sans-serif; ;
}

.logo img{
    width: 50%;
}

/****************************************
****     Chargement page d'accueil   ****
*****************************************/

.loading-homepage{  
    animation-name: loading; 
    animation-duration: 5s;   
}

@keyframes loading{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.load{
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
}

.load-spinner{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 250px auto
  }

.load-spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(28, 23, 189);
    border-color: #9356dc transparent #ff79da transparent;
    animation: spinner 3s linear forwards;
    
  }

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      visibility: hidden;
    }
  }

/***********************
****     Search   ****
***********************/

.search{
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.search-input input{
    border: none;
    background: #eaeaea;
    font-size: 1rem;
    padding: 20px 5px 20px 5px;
    margin-top: 5px;
    text-align: center;
    width: 150px;
}

/***********************
****      About     ****
***********************/

.about{
    background: #f6f6f6;
    text-align: center;
    width: 100%;
    padding: 40px 0;
}
.about h2{
    
    margin: 10px 20px 10px 20px;
}

.about p{
    color:#aaa;
    margin: 10px 20px 30px 20px;
}


.about button{
    background-image:linear-gradient(#ff79da,#9356dc );
    color: #fff;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    cursor: pointer;
    border: inherit;
    border-radius: 30px;
    font-size: 100%;
    width: 200px;
    height: 50px;
}

.about button:hover{
    opacity: 0.8;
    box-shadow: 1px 2px 8px 2px #2d2c2c;
}

/***********************
****   Operation    ****
***********************/

.operation h2{
    margin-left: 40px;
}

.operation-steps li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 25px;
    margin: 15px 20px 15px 0px;
    border-radius: 25px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: #f5f5f5;
}

.operation-steps li:hover{
    background-color:#9256dc24;
}

.operation-steps li:hover .operation-icon{
    color:#9356dc;
}

.number {
    background-color: #9356dc;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: -40px;
}

.operation-icon {
    color: grey;
    font-size: 1.2rem;
    margin-left: 20px;
}

.operation-steps li p {
    font-weight: 600;
    margin-left: 20px;
}


/***********************
****   Restaurant   ****
***********************/

.restaurant {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.restaurant h3{
    margin: 50px 0px 10px 20px ;
    font-size:xx-large;
    font-weight: bolder;
   
}

figure {
    margin: 0;
}

.card {
    border-radius: 20px;
    box-shadow: 5px 5px 10px #aaa;
    margin: 20px;
    position: relative;
    background: #fff;
}

.new {
    color: #008766;
    background: #99E2D0;
    border: 5px solid #99E2D0;
    border-radius: 5px;
    position: absolute;
    right: 2%;
    top: 5%;
}

.card img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
    max-height: 220px;
}

figcaption{
    margin: 0% 5% 0% 3%;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption h4{
    font-size: x-large;
    font-weight:bold;
    margin: 20px 0px 10px 0px;
}

.caption p{
    font-size: large;
    margin: 0px 0px 10px 0px;
}

/* Position du like accueil */

.like-checkbox {
    position: absolute;
    right: 30px;
    bottom: 32px;
    height: 28px;
    font-size: 28px;
    cursor: pointer;
}

/* Position du like accueil */
.like-checkbox-page {
    position:initial;
    
}

/* Animation du like */

    /* masque la checkbox original */
    .like-checkbox input[type="checkbox"]{
        display: none;
    }

    /* masque la checkbox coeur remplie */
    .like-checkbox .checked {
        display: none;
    }

    /* gestion du comportement de like affiche/masque le coeur plein */

    .like-checkbox input[type="checkbox"]:checked~.checked {
        display: inline-block;
        color: #fcf9f900;
    }

    .like-checkbox input[type="checkbox"]:checked~.unchecked {
        display: none;
    }

    .like-checkbox input[type="checkbox"], .like-checkbox .checked {
        animation: like 2s;
        animation-fill-mode: forwards;
    }
  
    @keyframes like {
        0% {
        opacity: 0;
        }
        50% {
        background: linear-gradient(to bottom, #9356DC, #FF79DA);
        
        }
        100% {
        background: linear-gradient(to bottom, #9356DC, #FF79DA);
        
        }
    }

/***********************
****     Footer     ****
***********************/
footer{
    background: #353535;
    padding: 25px;
}

footer img{
    width: 130px;
    filter: invert(100%);
}

.links{
    display: flex;
    flex-direction: column;

}

footer a{
    color: white;
    margin-top: 10px;

    display: flex;
    align-items: center;
}

footer p{
    padding-left: 8px;
    margin: 0;
}

/********************************
****     Pages restaurant    ****
*********************************/
.pages{
    align-items: center;
}
.fa-arrow-left    {
    position: absolute;
    left: 20px;

}
.img-restaurant{
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.menu{
    width: 100%;
    background-color: #f6f6f6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -50px;
    padding-left:10px ;
    padding-right:10px ;
    position: relative;
}


.menu-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
    padding-top: 30px;
    padding-right: 10px;
}

.menu-title h2{
    font-family: "Shrikhand", sans-serif; ;
    margin: 0;
    
}

.menu h3{
    color:rgb(123, 119, 119);
    margin: 30px 0px 0px 10px;
    font-size: large;
}
/* Ligne sous le titre */
.line{
    border: 2px solid #99E2D0;
    width: 45px;
    margin-left: 10px;
}

.dishes{
    background-color: #fff;
    box-shadow: 5px 5px 8px #aaa;
    border-radius: 20px;
    margin: 10px;
    padding: 0px;
    overflow: hidden;         /* Cache le surplus du check lors de l'animation */      
    display: flex;
    justify-content: space-between;
}


.dishes-détails{
    width: 100%;
    margin: 15px 0 0 10px;
    
    /* Comportement du bloc, lors de l'apparition du check */
    overflow: hidden;           /* Cache le txt debordantdu cadre */
    white-space: nowrap;        /* Interdit le retour à la ligne du txt*/
    text-overflow: ellipsis;    /* Ajoute les ... à la fin du txt tronqué */
}

.dishes h4 {
    font-size:medium;
    font-weight: bold;
}

.details{
    font-size: small;
    color: rgb(123, 119, 119);
}
.price {
    padding: 18px 15px 0 15px;
    font-weight: bold;
}

.btn-order{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-order button{
    background-image:linear-gradient(#ff79da,#9356dc );
    color: #fff;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    cursor: pointer;
    border: inherit;
    border-radius: 30px;
    font-size: 100%;
    width: 250px;
    height: 50px;
}


.btn-order button:hover{
opacity: 0.8;
box-shadow: 1px 2px 8px 2px #2d2c2c;
}

    /* Animation apparition du menu */

    .dishes{
        animation : fadein 2s ;
    }

    @keyframes fadein{
        from {
            transform: translateY(20px);
            opacity: 0;
          }
          to {
            transform: translateY(0);
            opacity: 1;
          }
    }

    /* Animation apparition du check dans le choix du plat */
    .check-box{
        overflow: hidden;          /* Cache le cadre */
        width: 0;                  /* Cache le cadre */ 
        display: flex;
        align-items: center;
        background-color: #99E2D0;
        border-radius: 0px 20px 20px 0px;
        justify-content: center;
        transition:1s;
    }

    .fa-circle-check{
        
        margin: auto;
        font-size: 23px;
        color: #f2f2f2;
        transform: rotate(360deg);
        transition:  1s;
    }

    .dishes:hover .check-box{
        width: 70px;                  /* Fait apparaitre le cadre lors du survol*/      
    }


    .dishes:hover .check-box > .fa-circle-check{
        transform: rotate(0deg);       /* Rotation du check */
    }